## What is Screen-Scraping?

Screenscraping refers to the process of automatically extracting data from web pages. 

A typical screenscraping program:
- download a webpage in HTML format
- finds some piece of desired information 
- places that information in a convenient format

Screenscraping can also be used to download other types of content as well, however, such as audio-visual content.

## Reading content from a web-page in Python

Let's say we wanted to parse a table from this web page:
[https://en.wikipedia.org/wiki/List_of_countries_by_social_welfare_spending](https://en.wikipedia.org/wiki/List_of_countries_by_social_welfare_spending)

<img src="../slides_and_videos/images/table_example.png" alt="drawing" width="300"/>

First, we would import a couple of useful packages.

In [1]:
from bs4 import BeautifulSoup ##A package to work with HTML data
import requests #A package to make HTTP requests
import numpy as np

Then, we would request the page from the internet using the `requests` package, and parse the HTML content using `Beautifulsoup`. We store the content of the page in a variable named _soup_.

In [2]:

LINK = "https://en.wikipedia.org/wiki/List_of_countries_by_social_welfare_spending"
r = requests.get(LINK)

In [3]:
soup = BeautifulSoup(r.content)

To find our table, we open the elements panel from our browser (Command + Shift + C on Chrome).
Scrolling through the elements, we find that the our table is stored in a _&lt;table&gt;_ element of class _wikitable_. 
Each row in the table is stored in a _&lt;tr&gt;_ table element.
The row's cells can then be established using a mix of _&lt;td&gt;_ (data cell) and _&lt;th&gt;_ (header cell) elements.
    
<img src="../slides_and_videos/images/table_example2.png" alt="drawing" width="700"/>

We use the command ``find`` to find the first element of this kind within _soup_.

Then, we use the command ``find_all`` to find all the rows (table row elements _&lt;tr&gt;_) in our table. We loop through the rows and use ``find_all`` to get the headers (table header elements _&lt;th&gt;_) and the data (table data elements _&lt;td&gt;_).

In [4]:

table = soup.find("table",{"class":"wikitable"})
table_rows = table.find_all("tr")

#HERE I GET THE HEADER
ths = table_rows[0].find_all('th')
header = [th.text.replace("\n","") for th in ths]
    
#HERE I GET THE ROWS
rows = []
for tr in table_rows[1:]:
    tds = tr.find_all('td')
    row = [td.text.replace("\n","") for td in tds]
    rows.append(row)

In [5]:
import pandas as pd
pd.DataFrame(rows, columns=header)

                Country   2019  2016   2010  2005  2000
0    1           France   31.2  31.5   30.7  28.7  27.5
1    2          Belgium   28.9  29.0   28.3  25.3  23.5
2    3          Finland   28.7  30.8   27.4  23.9  22.6
3    4            Italy   28.2  28.9   27.6  24.1  22.6
4    5          Denmark   28.0  28.7   28.9  25.2  23.8
5    6          Austria   26.6  27.8   27.6  25.9  25.5
6    7           Sweden   26.1  27.1   26.3  27.4  26.8
7    8          Germany   25.1  25.3   25.9  26.3  25.4
8    9           Norway   25.0  25.1   21.9  20.7  20.4
9   10            Spain   23.7  24.6   25.8  20.4  19.5
10  11           Greece   23.5  27.0   23.8  20.4  18.4
11  12         Portugal   22.6  24.1   24.5  22.3  18.5
12  13       Luxembourg   22.4  21.8   22.9  22.4  18.6
13  14            Japan   21.9
14  15         Slovenia   21.2  22.8   23.4  21.4  22.4
15  16           Poland   21.1  20.2   20.6  20.9  20.2
16  17   United Kingdom   20.6  21.5   22.8  19.4  17.7
17  18          Hungary   19.4  20.6   23.0  21.9  20.1
18  19      New Zealand   18.9
19  20   Czech Republic   18.7  19.4   19.8  18.1  18.0
20  21    United States   18.7  19.3   19.3  15.6  14.3
21  22          Estonia   18.4  17.4   18.3  13.0  13.8
22  23        Australia   17.8  19.1   16.7  16.7  18.2
23  24           Canada   17.3
24  25         Slovakia   17.0  18.6   18.1  15.8  17.6
25  26      Netherlands   16.7  22.0   22.1  20.5  18.4
26  27           Latvia   16.2  14.5   18.7  12.2  14.8
27  28        Lithuania   16.2
28  29           Israel   16.0  16.1   16.0  16.3  17.0
29  30      Switzerland   16.0  19.7   18.4  18.4  16.3
30  31          Iceland   16.0  15.2   17.0  15.9  14.6
31  32          Ireland   14.4  16.1   22.4  14.9  12.6
32  33           Turkey   12.5
33  34            India  12.08  11.6  10.02   7.6
34  35      South Korea   11.1  10.4    8.3   6.1   4.5
35  36            Chile   10.9

There is a way to get a table from an html page automatically using Pandas (using ``pd.read_html``). 
However, this will not be useful if you need to parse content other than tables.

In [6]:
tables = pd.read_html(LINK)
tables[1]

    Unnamed: 0         Country   2019  2016   2010  2005  2000
0            1          France  31.20  31.5  30.70  28.7  27.5
1            2         Belgium  28.90  29.0  28.30  25.3  23.5
2            3         Finland  28.70  30.8  27.40  23.9  22.6
3            4           Italy  28.20  28.9  27.60  24.1  22.6
4            5         Denmark  28.00  28.7  28.90  25.2  23.8
5            6         Austria  26.60  27.8  27.60  25.9  25.5
6            7          Sweden  26.10  27.1  26.30  27.4  26.8
7            8         Germany  25.10  25.3  25.90  26.3  25.4
8            9          Norway  25.00  25.1  21.90  20.7  20.4
9           10           Spain  23.70  24.6  25.80  20.4  19.5
10          11          Greece  23.50  27.0  23.80  20.4  18.4
11          12        Portugal  22.60  24.1  24.50  22.3  18.5
12          13      Luxembourg  22.40  21.8  22.90  22.4  18.6
13          14           Japan  21.90   NaN    NaN   NaN   NaN
14          15        Slovenia  21.20  22.8  23.40  21.4  22.4
15          16          Poland  21.10  20.2  20.60  20.9  20.2
16          17  United Kingdom  20.60  21.5  22.80  19.4  17.7
17          18         Hungary  19.40  20.6  23.00  21.9  20.1
18          19     New Zealand  18.90   NaN    NaN   NaN   NaN
19          20  Czech Republic  18.70  19.4  19.80  18.1  18.0
20          21   United States  18.70  19.3  19.30  15.6  14.3
21          22         Estonia  18.40  17.4  18.30  13.0  13.8
22          23       Australia  17.80  19.1  16.70  16.7  18.2
23          24          Canada  17.30   NaN    NaN   NaN   NaN
24          25        Slovakia  17.00  18.6  18.10  15.8  17.6
25          26     Netherlands  16.70  22.0  22.10  20.5  18.4
26          27          Latvia  16.20  14.5  18.70  12.2  14.8
27          28       Lithuania  16.20   NaN    NaN   NaN   NaN
28          29          Israel  16.00  16.1  16.00  16.3  17.0
29          30     Switzerland  16.00  19.7  18.40  18.4  16.3
30          31         Iceland  16.00  15.2  17.00  15.9  14.6
31          32         Ireland  14.40  16.1  22.40  14.9  12.6
32          33          Turkey  12.50   NaN    NaN   NaN   NaN
33          34           India  12.08  11.6  10.02   7.6   NaN
34          35     South Korea  11.10  10.4   8.30   6.1   4.5
35          36           Chile  10.90   NaN    NaN   NaN   NaN

## Is Screen-Scraping Legal?

Yes, with some limitations, that depend upon how you perform the scraping and how you use the data you scrape. 
There are still a lot of grey areas when it comes to the law on web scraping. Here is a list of practical tips you can follow to web-scrape ethically.

1. Respect and follow the Terms of Service (ToS). Check the website’s terms of use and [``robot.txt``](https://en.wikipedia.org/wiki/Robots.txt) files before web scraping data ([here](https://en.wikipedia.org/robots.txt) is the robot.txt file for Wikipedia).

2. Scrape at moderate rate. 

3. Consider any actions a website takes to restrict web scraping. If a website restricts your web scraping activities with anti-scraping measures, such as the use of CAPTCHAs, rate limits, and blocking of IP addresses, you may need to be cautious. 

4. Consider whether any data to be scraped belongs to the personally identifiable information (PII) of EU citizens. There are limitations to collect PII under the GDPR. 

5. Consider whether any data to be scraped is protected by copyright. Don't scrape the copyrighted data.

6. Make good use of the scraped data (don't reshare it).

When in doubt, talk to an expert.

# Task for week 1

In [7]:
LINK_2019 = "https://2019.ic2s2.org/oral-presentations/"
r_2019 = requests.get(LINK_2019) 
r_2019.content
soup_2019 = BeautifulSoup(r_2019.content)

In [8]:
#soup_2019.contents
table = soup_2019.find_all('p')

texts = [line.text for line in table]

In [9]:
temp = []
for el in texts:
    if 'Chair' in el:
        temp.append(el)

In [10]:
all_names = []
for el in temp:
    t = el.split(".")
    for el2 in t:
        names = el2.split("–")[-1].split(",")
        all_names.extend(names)

print(len(all_names))

705

In [11]:
LINK_2019_P = "https://2019.ic2s2.org/posters/"
r_2019_P = requests.get(LINK_2019_P) 
r_2019_P.content
soup_2019_P = BeautifulSoup(r_2019_P.content)

In [27]:
table = soup_2019_P.find_all('li')
texts = [line.text for line in table]
temp = []
for line in texts:
    temp.extend(line.split("\xa0\n"))

temp = temp[32:360]
temp2 = []
for line in temp:
    temp2.extend(line.split("\xa0"))

temp3 = []
for line in temp2:
    temp3.extend(line.split("\n"))

names = temp3[::2]

temp4 = []
for line in names:
    temp4.extend(line.split(","))

temp5 = []
for line in temp4:
    temp5.extend(line.split("and "))

temp6 = list(set(temp5))
temp6.remove("")

final = []
for line in temp6:
    final.append(line[1:]) if line[0] == " " else final.append(line)

final = list(set(final))
final.remove("")

In [28]:
df = pd.DataFrame(final)
df.columns = ["author"]
df.to_csv("2019_poster.csv", index=False)
df.describe()

                    author
count                  475
unique                 475
top     Aleksei Rotmistrov
freq                     1

# 2020 in the sheets

In [29]:
LINK = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTX9_1Xftn7D-nSI8X9b7tafr_Z0kAbphKdfZ8qUSU9p-syXNsGPdhHl5ZyTnKKL-T6dCEJqtsrn3wy/pubhtml/sheet?headers=false&gid=181378784"
r = requests.get(LINK) 
soup = BeautifulSoup(r.content)

In [30]:
class_name =  "waffle"
table = soup.find("table",{"class": class_name})
rows = table.find_all("tr") #, {"class": "name"})
names = rows[3].find_all("td", {"class": "s1"})
print(names)

[<td class="s1">Tutorial</td>, <td class="s1">Tutorial: Identifying social media manipulation with OSoMe tools</td>, <td class="s1">Diogo Pacheco, Kaicheng Yang, Pik-mai Hui</td>, <td class="s1">July 17, 2020, 02:00:00 PM</td>, <td class="s1">July 17, 2020, 05:00:00 PM</td>]

In [31]:
all_names = []
boole = []
for row in rows[2:]:
    stuff = row.find_all("td", {"class": "s1"})
    if stuff[2].text != '':
    #boole.append(stuff[2].text == '')
        all_names.append(stuff[2].text.split(', '))

In [33]:
from itertools import chain

name_list = list(chain.from_iterable(all_names))
name_list = list(set(name_list))

In [18]:
df = pd.DataFrame(name_list)
df.columns = ["author"]
df.to_csv("2020.csv", index=False)
df.describe()

          author
count        990
unique       990
top     Yifan Yu
freq           1

# 2021 Authors

In [34]:
LINK = "https://easychair.org/smart-program/IC2S2-2021/talk_author_index.html"
r = requests.get(LINK) 
soup = BeautifulSoup(r.content)

In [43]:
class_name =  "index"
table = soup.find("table",{"class": class_name})
temp = table.find_all("td", {"class": "name"})
names = []
for name in temp:
    both = name.text.split(', ')
    names.append(both[1]+" "+both[0])
#names = [name.text for name in temp]
names = list(set(names))

In [44]:
df = pd.DataFrame(names)
df.columns = ["author"]
df.to_csv("2021.csv", index=False)
df.describe()

                author
count              692
unique             692
top     James Deitrick
freq                 1